html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #2B3E50;
}

.dia {
    flex-basis: 14.285%;
    text-align: center;
    margin-bottom: 15px;
    padding: 12px 10px;
    transition: all .2s ease-out;
    color: #2B3E50;
}

.dia:hover {
    background-color: #e1e1e1;
    cursor: pointer;
}

.lista-dias ul {
    color: #df691a;
}

.lista-dias ul li {
    flex-basis: 14.285%;
}

#antes,
#despues {
    cursor: pointer;
    transition: all .3s ease-out;
}

#antes:hover,
#despues:hover {
    color: #4e5d6c;
}

.calendario-info {
    background-color: #df691a;
    font-size: 25px;
}

.activo {
    background-color: #4e5d6c;
    color: white!important;
}


/*form de tarea*/

.btnTarea {
    background-color: #df691a;
    color: white;
}

.secionNuevaTareaa {
    border-bottom: 1px solid white;
}

@media (min-width: 768px) {
    .lista-tareas {
        width: 50%;
    }
}

.lista-tareas li {
    transition: all .3s ease-out;
    color: #2B3E50;
}

.lista-tareas li:hover {
    background-color: #e1e1e1;
    cursor: pointer;
}

.diaMarcado {
    background-color: #df691a;
    color: white;
}

.ventana-emergente {
    background-color: #4e5d6c;
    max-width: 900px;
}

.ventana-emergente p {
    font-size: 25px;
}

.lista-emergente {
    width: 100%;
}

@media (min-width: 768px) {
    .lista-emergente {
        width: 70%;
    }
}

.lista-emergente li:hover {
    cursor: pointer;
    background-color: #e1e1e1;
}